!!! 5
html
	head
		title elvira:status
		link(rel="stylesheet",href="/css/style.css")
	body
		block content
		script(src="/js/polymaps.min.js")
		script(src="/js/d3.js")
		script(src="/js/engine.io.js")
		script(src="/js/app.js")
